<!DOCTYPE>

<head>
    <meta charset="UTF-8">
    <!-- 載入 ElementUI css(Start) -->
    <link rel="stylesheet" href="http://unpkg.com/element-ui@1.2.3/lib/theme-default/index.css">
    <!-- 載入 ElementUI css(End) -->
    <!-- 載入 Vue2(Start) -->
    <script type="text/javascript" src="http://unpkg.com/vue@2.2.1/dist/vue.js"></script>
    <!-- 載入 Vue2(End) -->
    <!-- 載入 axios(Start) -->
    <script src="http://unpkg.com/axios@0.15.3/dist/axios.min.js"></script>
    <script type="text/javascript" src="./js/es6-promise.auto.min.js"></script>
    <!-- 載入 axios(End) -->
    <!-- 載入 ElementUI js(Start) -->
    <script type="text/javascript" src="http://unpkg.com/element-ui@1.2.3/lib/index.js"></script>
    <script type="text/javascript" src="http://unpkg.com/element-ui@1.2.3/lib/umd/locale/zh-TW.js"></script>
    <!-- 載入 ElementUI js(End) -->
</head>

<body>
    <div id="app" v-show="bMounted" style="display:none">
        <!-- 按鈕區塊(Start) -->
        <el-button type="primary" icon="plus" @click="handleShowCreate();">新增</el-button><br/><br/>
        <!-- 按鈕區塊(Start) -->
        <!-- 表格顯示 -->
        <el-table :data="heroes" border style="width: 100%">
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column prop="INDEX_NO" label="編號" width="120">
            </el-table-column>
            <el-table-column prop="NAME" label="姓名">
                <template scope="scope">
                    <template v-if="scope.row.INDEX_NO != hero.INDEX_NO">
                        {{ scope.row.NAME }}
                    </template>
                <template v-else>
                        <el-input v-model="hero.NAME" auto-complete="off" placeholder="請輸入姓名" width="120"></el-input>
                    </template>
                </template>
            </el-table-column>
            <el-table-column label="生日" show-overflow-tooltip>
                <template scope="scope">
                    <template v-if="scope.row.INDEX_NO != hero.INDEX_NO">
                        {{ scope.row.BIRTHDAY | toDate}}
                    </template>
                <template v-else>
                        <tb-datepicker v-model="hero.BIRTHDAY" placeholder="請選擇生日" @change="changeBirthday"></tb-datepicker>
                    </template>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template scope="scope">
                        <el-button type="primary" icon="check" @click="handleUpdate(true)" v-show="scope.row.INDEX_NO == hero.INDEX_NO"></el-button>
                        <el-button type="warning" icon="close" @click="handleUpdate(false)" v-show="scope.row.INDEX_NO == hero.INDEX_NO"></el-button>
                        <el-button type="warning" icon="edit" @click="handleShowEdit(scope.$index, scope.row)" v-show="scope.row.INDEX_NO != hero.INDEX_NO"></el-button>
                        <el-button type="danger" icon="delete" @click="handleDelete(scope.$index, scope.row)"></el-button>
                    </template>
            </el-table-column>
        </el-table>

        <!-- 新增表單(Start) -->
        <el-dialog title="新增英雄" v-model="bCreateVisible" :close-on-click-modal="false">
            <el-form :model="hero">
                <el-form-item label="姓名" label-width="120">
                    <el-input v-model="hero.NAME" auto-complete="off" placeholder="请输入姓名"></el-input>
                </el-form-item>
                <el-form-item label="生日" label-width="120">
                    <tb-datepicker v-model="hero.BIRTHDAY" placeholder="請選擇生日" @change="changeBirthday"></tb-datepicker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleCancel" class="el-button-margin">取消</el-button>
                <el-button type="primary" @click="handleCreate" class="el-button-margin">確定</el-button>
            </div>
        </el-dialog>
        <!-- 新增表單(End) -->
    </div>

    <script type="text/javascript">
        Vue.filter('toDate', function(val) {
            return val.substring(0, 10);
        });

        Vue.component('tb-datepicker', {
            template: '<el-date-picker v-model="subValue" type="date" :placeholder="placeholder" align="right" :editable="false" :clearable="false" @change="changeDate"></el-date-picker>',
            data() {
                return {
                    subValue: ''
                }
            },
            props: ['value', 'placeholder'],
            mounted: function() {
                this.subValue = this.value;
            },
            methods: {
                changeDate: function(val) {
                    this.$emit('change', this.subValue, val);
                    this.$emit('input', val);
                }
            }
        });

        // 定義http連線物件
        var csHttpClient = axios.create({
            //xsrfHeaderName: 'X-CSRF-Token',
            //withCredentials: true
        });

        var app = new Vue({
            el: '#app',
            mounted: function() {
                //初始化
                this.loadData();
            },
            data: {
                bMounted: true,
                // API位置
                herosUrl: "http://api.gt.web/api/heroes",
                // 顯示的英雄們
                heroes: [],
                // 一位英雄
                hero: {},
                // 顯示新增視窗
                bCreateVisible: false,
            },
            methods: {
                loadData: function() {
                    var vm = this;
                    csHttpClient.get(vm.herosUrl).then(function(response) {
                            vm.heroes = response.data;
                            console.log(response);
                        })
                        .catch(function(response) {
                            console.log(response.status);
                        });
                },
                // 點選新增
                handleShowCreate: function() {
                    this.hero = {
                        'NAME': null,
                        'BIRTHDAY': null
                    };
                    this.bCreateVisible = true;
                },
                // 新增資料
                handleCreate: function() {
                    var vm = this;
                    if (vm.hero.INDEX_NO === undefined) {
                        csHttpClient.post(vm.herosUrl, vm.hero).then(function(response) {
                                vm.loadData();
                                vm.$message({
                                    type: 'success',
                                    message: '新增' + vm.hero.NAME + '成功，請繼續下一筆!'
                                });
                                vm.hero.NAME = null;
                            })
                            .catch(function(response) {
                                vm.$message({
                                    type: 'error',
                                    message: '新增' + vm.hero.NAME + '失敗，請檢查相關欄位是否正確'
                                });
                            })
                    } else {
                        csHttpClient.put(vm.herosUrl + "/" + vm.hero.INDEX_NO, vm.hero).then(function(response) {
                                vm.loadData();
                                vm.$message({
                                    type: 'success',
                                    message: '更新' + vm.hero.NAME + '成功!'
                                });
                                vm.hero = {};
                                vm.bCreateVisible = false;
                            })
                            .catch(function(response) {
                                vm.$message({
                                    type: 'error',
                                    message: '更新' + vm.hero.NAME + '失敗，請檢查相關欄位是否正確'
                                });
                            })
                    }
                },
                // 點選刪除
                handleDelete: function(index, row) {
                    var vm = this;
                    vm.$confirm('您確定要刪除' + row.NAME + '嗎?', '提示', {
                        confirmButtonText: '確定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(function() {
                        csHttpClient.delete(vm.herosUrl + "/" + row.INDEX_NO).then(function(response) {
                                vm.loadData();
                                vm.$message({
                                    type: 'success',
                                    message: '删除' + row.NAME + '成功!'
                                });
                            })
                            .catch(function(response) {
                                console.log(response.status)
                            })

                    }).catch(function() {
                        vm.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                // 點選編輯
                handleShowEdit: function(index, row) {
                    this.hero = row;
                },
                // 點選取消
                handleCancel: function() {
                    this.bCreateVisible = false;
                    if (this.hero.INDEX_NO !== undefined) {
                        this.loadData();
                    }
                },
                // 更新資料
                handleUpdate: function(bUpdate) {
                    var vm = this;
                    if (bUpdate) {
                        csHttpClient.put(vm.herosUrl + "/" + vm.hero.INDEX_NO, vm.hero).then(function(response) {
                                vm.loadData();
                                vm.$message({
                                    type: 'success',
                                    message: '更新' + vm.hero.NAME + '成功!'
                                });
                                vm.hero = {};
                                vm.bCreateVisible = false;
                            })
                            .catch(function(response) {
                                vm.$message({
                                    type: 'error',
                                    message: '更新' + vm.hero.NAME + '失敗，請檢查相關欄位是否正確'
                                });
                            })
                    } else {
                        vm.hero = {};
                    }
                },
                //更換生日
                changeBirthday: function(objDate, strDate) {
                    // 看變化
                    console.log(objDate);
                    console.log(strDate);
                }

            }
        });
    </script>
</body>